<div *ngIf="isAuth()">
    <nav class="navbar navbar-default navbar-responsive-collapse navbar-fixed-top">
        <ul class="nav navbar-nav">
            <!--<li><img src="../../assets/img/small_logo.jpg" id="smallLogo" alt="Tartu KHK"></li>-->
            <li routerLinkActive="active"><a routerLink="/admin/test">Test</a></li>
            <li routerLinkActive="active"><a routerLink="/admin/practical">Praktiline</a></li>
            <li routerLinkActive="active"><a routerLink="/admin/results">Tulemused</a></li>
            <!--<li routerLinkActive="active"><a routerLink="/admin/settings">Seaded</a></li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="btn btn-lg glyphicon glyphicon-log-out" (click)="logout()"
                   data-toggle="tooltip" title="Logi välja"></a></li>
            <li><span class="btn"></span></li>
        </ul>
    </nav>

    <div class="container">


        <div *ngIf="section == 'test'" class="quiz-maker">
            <quiz-maker></quiz-maker>
        </div>

        <div *ngIf="section == 'practical'" class="code-tasks">
            <code-tasks></code-tasks>
        </div>

        <div *ngIf="section == 'results'" class="results">
            <results></results>

        </div>

        <div *ngIf="section == 'settings'" class="settings">
            <br/>
            <br/>
            <br/>
            <h3>Seaded...</h3>
        </div>


    </div>
</div>
<div *ngIf="!isAuth()">
    <admin-login></admin-login>
</div>
