.quiz-maker {
    margin-top: 60px;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar {
    background-color: #0054a6;
    text-align: center;
}

.navbar-nav li a:active,
.navbar-nav li a:focus,
.navbar-default .navbar-nav > .active > a {
    background-color: #0099d8;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #0099d8;
}

.navbar-default .navbar-nav > .active > a:hover {
    color: #ffffff;
}

#smallLogo {
    max-width: 65px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0.5%;
}