<div class="container">
    <br>
    <br>
    <div class="small-container well">

        <form class="form-signin" (ngSubmit)="onSubmit()" novalidate>
            <h3 class="form-signin-heading"></h3>

            <div>
                <input type="text" name="user" id="userName" class="form-control" placeholder="Kasutajanimi"
                       [(ngModel)]="userName" [ngModelOptions]="{standalone: true}"
                       required>
            </div>
            <br/>
            <div>
                <input type="password" name="pass" id="pswd" class="form-control" placeholder="Parool"
                       [(ngModel)]="passWord" [ngModelOptions]="{standalone: true}"
                >
                <br/>
            </div>
            <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sisene!</button>
        </form>
        <br>
        <div class="small-container">
            <button class="loginBtn loginBtn--google" (click)="onOauth()">Google login</button>
        </div>

    </div>
</div>