<div class="quiz-maker">
    <button class="btn btn-primary btn-md" (click)="showCreateForm = showCreateForm ? false : true">Lisa uus küsimus
    </button>
    <span> Küsimusi kokku: <span class="badge" *ngIf="questions">{{questions.length}}</span></span>

    <span class="search-group">
        <button class="btn btn-info btn-xs glyphicon glyphicon-search" *ngIf="searchMatch"> {{searchMatch}}</button>
                <!--<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>-->
        <input type="text" class="search-box " placeholder="testi pealkiri"
               [(ngModel)]="searchText" (keyup)="searchQuiz()">

    </span>
    <br/>
    <question-form *ngIf="showCreateForm" (onQuestionSubmit)="onQustionCreated($event)"></question-form>

    <ng-container *ngFor="let question of questions; let i = index;">

        <ng-container *ngIf="isSearchedQuestion(question.question)">
            <!--<h3>Question: {{question.question}}</h3>-->
            <br/>
            <ng-container *ngIf="editQuestion < 0">
                <button class="btn btn-warning btn-md" (click)="editQuestion = i">Muuda</button>
                <button class="btn btn-danger btn-md" (click)="onDelete(question.questionID)">Kustuta</button>
            </ng-container>
            <quiz-question *ngIf="editQuestion != i"
                           [question]="question"
                           (onAnswerChosen)="onAnswerClicked($event)">
            </quiz-question>
            <question-form *ngIf="editQuestion == i"
                           (onQuestionSubmit)="onQuestionChanged($event)"
                           (onQuestionEditCancel)="editQuestion = -1"
                           [editQuestion]="question"
            >
            </question-form>

        </ng-container>
    </ng-container>
</div>