<div class="well">
    <form class="form-signin" (ngSubmit)="onSubmit()" novalidate>

        <div [class.has-error]="validate()=='Sisesta küsimus!'">
            <input type="text" name="username" id="firstName" class="form-control" placeholder="Küsimus"
                   [(ngModel)]="question.question" [ngModelOptions]="{standalone: true}"
                   required autofocus>
        </div>

        <div class="question-answers">

            <ng-container *ngFor="let answer of question.answers; let i = index;">

                <div class="input-group" [class.has-success]="isCorrectAnswer(i)" [class.has-error]="validate(i)!='ok'">
                        <span class="input-group-addon btn btn-sm"
                              (click)="onRightAnswerChosen(i)">
                            <span class="glyphicon glyphicon-ok"></span>
                        </span>
                    <input type="text" name="answer{{i+1}}" class="form-control" placeholder="vastus {{i+1}}"
                           [(ngModel)]="question.answers[i].answer" [ngModelOptions]="{standalone: true}"
                           required>
                </div>

            </ng-container>
        </div>

        <!--<br/>-->
        <button *ngIf="!isEditQuestion" class="btn btn-md btn-primary" type="submit"
                [class.disabled]="validate(-2)!='ok'"
        >Valmis!
        </button>

        <ng-container *ngIf="isEditQuestion">
            <button class="btn btn-md btn-warning" type="submit"
                    [class.disabled]="validate(-2)!='ok'"
            >Muuda!
            </button>
            <button class="btn btn-md btn-primary" (click)="cancelEdit()">Katkesta</button>
        </ng-container>

    </form>
</div>
