<div class="coding-tasks">

    <button class="btn btn-primary btn-md" (click)="showCreateForm = showCreateForm ? false : true">Lisa uus küsimus
    </button><span> Küsimusi kokku: <span class="badge" *ngIf="codingTasks">{{codingTasks.length}}</span></span>

    <br/>


    <div class="codingTask well" *ngIf="showCreateForm">
        <div class="form-group" (ngSubmit)="onSubmit()" novalidate>
            <input type="text" name="imgUrl" id="imgUrl" class="form-control" placeholder="Pildi URL"
                   [(ngModel)]="newCodingTask.imgUrl" [ngModelOptions]="{standalone: true}"
                   required autofocus>
            <label for="newCodingTask">Ülesande kirjeldus:</label>
            <textarea class="form-control" rows="6" id="newCodingTask"
                      [(ngModel)]="newCodingTask.question" [ngModelOptions]="{standalone: true}"
                      required
            ></textarea>
            <button class="btn btn-primary btn-md" (click)="createNewCodingTask()">Lisa!</button>
        </div>
    </div>
    <br/>
    <ng-container *ngFor="let task of codingTasks; let i = index;">

        <div class="codingTask well">
            <div class="form-group" (ngSubmit)="onSubmit()" novalidate>
                <input type="text" name="imgUrl" class="form-control" placeholder="Pildi URL"
                       [(ngModel)]="task.imgUrl" [ngModelOptions]="{standalone: true}"
                       required autofocus>

                <label [attr.for]=task.id>Ülesande kirjeldus:</label>
                <textarea class="form-control" rows="6" [attr.id]=task.id
                          [(ngModel)]="task.question" [ngModelOptions]="{standalone: true}"
                          required
                >{{task.question}}</textarea>
            </div>
            <div class="codetask-buttons">
                <button class="btn btn-warning btn-md" (click)="onEdit(i)">Muuda</button>
                <button class="btn btn-danger btn-md" (click)="onDelete(task.id)">Kustuta</button>
            </div>

        </div>
    </ng-container>

</div>