<div class="container">

    <student-login *ngIf="!hasToken()"
                   (onStudentDetailsInserted)="onStudentLogin($event)"></student-login>

    <div *ngIf="hasToken()">

        <img id="logo" src="../../assets/img/KHK_logod_kurv-01.jpg"
             alt="TKHK logo">
        <div class="container">

            <ng-container *ngIf="!codingTask">
                <quiz-progress *ngIf="quiz"
                               [setQuestionsLeft]="quiz.length" [setQustionsNumber]="quizLength"
                ></quiz-progress>
                <quiz-question
                        [question]="getQuizQuestion()"
                        (onAnswerChosen)="onAnswerChosenFromChildComp($event)">
                </quiz-question>

            </ng-container>

            <div *ngIf="codingTask && !isQuizAndTestOver()">
                <coding-task
                        [setQuestion]="codingTask"
                        (onTaskReady)="onCodingTaskSubmit($event)"
                ></coding-task>
            </div>

            <ng-container *ngIf="isQuizAndTestOver() && testResults">
                <div class="welcomeText well">
                    <h3>Õnnitleme!</h3> <br>
                    <p>Teoreetiline test: {{testResults.correctCount}} punkti <br>
                        Praktiline test: Punktide arv teatatakse vestlusel <br>
                        <br>
                        Olete edukalt salvestanud testi tulemused!</p>

                    <button class="btn btn-md btn-primary" (click)="closeAll()">Lõpeta</button>
                </div>

            </ng-container>
        </div>
    </div>
</div>