.question-text {
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    text-align: center;
}

.btn-success.btn-transparent {
    color: hsl(120, 39%, 54%);
    background-color: hsla(0, 0%, 98%, 0.91);
    /*background-color: hsla(0, 0%, 0%, 0.65);*/
}

.btn-block {
    display: block;
    width: 100%;
    height: 44px;
}

.question-answers {
    /*max-width: 400px;*/
}
