<ng-container *ngIf="currentQuestion">
    <div class="well question-answers">
        <h3 class="question-text">{{currentQuestion.question}}</h3>
        <div class="question-answers">
            <button *ngFor="let answer of currentQuestion.answers"
                    class="btn btn-block btn-lg"
                    (click)="onAnswerClicked(answer.answerID)"
                    [class.btn-success]="!isCorrectAnswer(answer.answerID)"
                    [class.btn-warning]="isCorrectAnswer(answer.answerID)"
                    >
                {{answer.answer}}
            </button>
        </div>
    </div>
</ng-container>