
/* You can add global styles to this file, and also import other style files */
.btn-primary,
.btn-success {
    background-color: #0054a6;
    border: 1px solid #ffe600;
}

.btn-warning {
    background-color: #91c848;
    border: 1px solid #91c848;
}

.btn-danger {
    background-color: #da1a35;
    border: 1px solid #da1a35;
}

.btn-primary:hover,
.btn-success:hover,
.btn-primary:active,
.btn-success:active,
.btn-primary:focus,
.btn-success:focus,
.btn-primary:active:focus,
.btn-success:active:focus {
    background-color: #0099d8;
    border: 1px solid #ffe600;
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:active:focus {
    background-color: #98df39;
    border: 1px solid #98df39;
    outline-color: #98df39;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:active:focus {
    background-color: #f31f3d;
    border: 1px solid #f31f3d;
    outline-color: #f31f3d;
}

img#logo {
    max-width: 200px;
    min-width: 100px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

div#logoContainer {
    text-align: center;
    margin-top: 2%;
}

.btn, .btn-block, .btn-lg {
    overflow: hidden;
    text-overflow: ellipsis;
}

div.well {
    background-color: rgba(256, 256, 256, 0.5);
}


#preview {
    margin-top:2%;
    min-width: 300px;
    min-height: 200px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    /*border: solid 1px red;*/

    overflow: auto;
}

.welcomeText {
    color: #0054a6;
    max-width: 500px;
    margin: 0 auto;
    font-weight: bold;
    margin-bottom: 1%;
    text-align: justify;
}

.small-container {

    max-width: 300px;
    display: table;
    margin: 0 auto;
}
