<div class="quiz-progress">
    <div class="progress">
        <div class="progress-bar" role="progressbar"
             aria-valuemin="0" aria-valuemax="100" [style.width]="getStrPercent()">
            {{getPercent()}}%
        </div>
    </div>
    <span class="badge"> {{getCurrentQuestionNr()}} / {{questionsNumber}}</span>
</div>