<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title><?= $data['firstName']; ?> <?= $data['lastName']; ?></title>
</head>
<style>
#result {
    width: auto;
    height: auto;
    border: none;
}
</style>
<body>
<h2><?= $data['firstName']; ?> <?= $data['lastName']; ?> tulemus:</h2>
<p>
<?= $data['answer'] ?>


</body>
</html>