<div class="results">

    <div *ngIf="rankings">
        <ng2-smart-table [settings]="settings" [source]="rankings"
                         (deleteConfirm)="onDeleteConfirm($event)"
                         (editConfirm)="onSaveConfirm($event)"
        ></ng2-smart-table>
    </div>

</div>
