<div class="container-fluid">
    <div id="logoContainer"><img id="logo" src="../../assets/img/KHK_logod_kurv-01.jpg"
                                 alt="Tartu Kutsehariduskeskuse logo"></div>
    <span id="title"><h2 id="htmlTitle">HTML / CSS ÕPIKESKKOND</h2>
   </span>
    <div class="welcomeText well"><p>Tere!</p>
        <p>Olete Tartu Kutsehariduskeskuse HTML-i ja CSS-i teadmiste kontrollimise õpikeskkonna esilehel.</p>
        <p>Peale oma andmete sisestamist ning nupu “Alusta” vajutamist avaneb Teile teoreetiliste küsimustega test.
            Selles osas on küsimusi kokku 10. Kui teoreetiline osa on lahendatud, avaneb Teile üks praktiline ülesanne,
            mille peate lahendama.
            Peale ülesannete lahendamist Teie vastused salvestatakse. Täpse punktisumma saate teada vestlusel.</p>
        <p>Iga isikukoodiga saab testi lahendada ÜHE korra. Back nupu vajutamisel töö katkestatakse ning rohkem
            võimalusi testi sooritada ei ole.</p>
        <p>Edu!</p></div>
    <div class="small-container well">


        <form class="form-signin" (ngSubmit)="onSubmit()" novalidate>
            <h3 class="form-signin-heading"></h3>

            <div [class.has-error]="isNotValidStudnetForm()=='firstName'">
                <input type="text" name="username" id="firstName" class="form-control" placeholder="Eesnimi"
                       [(ngModel)]="student.firstName" [ngModelOptions]="{standalone: true}"
                       required autofocus>
            </div>

            <br/>
            <div [class.has-error]="isNotValidStudnetForm()=='lastName'">
                <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Perekonnanimi"
                       [(ngModel)]="student.lastName" [ngModelOptions]="{standalone: true}"
                       required>
            </div>

            <br/>
            <div [class.has-error]="isNotValidStudnetForm()=='idCode'">
                <input type="number" name="lastName" id="IdCode" class="form-control has-error" placeholder="Isikukood"
                       [(ngModel)]="student.idCode" [ngModelOptions]="{standalone: true}"
                >
                <br/>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Alusta!</button>
        </form>

    </div>

</div>
