<div class="coding">

    <div class="container well">
        <h2>PRAKTILINE ÜLESANNE</h2>

        <div class="code-task-question">{{codingTask.question}}</div>

        <br/>
        <div class="code-task-image" *ngIf="codingTask.imgUrl && showImg">

            <img [attr.src]=codingTask.imgUrl alt="">
        </div>
        <button *ngIf="codingTask.imgUrl" class="btn btn-danger btn-xs" (click)="showImg = showImg ? false : true">
            {{getShowImgTxt()}}
        </button>

    </div>

    <div class="form-group well" (ngSubmit)="onSubmit()" novalidate>
            <label for="comment">Siia kirjuta oma kood:</label>
            <textarea class="form-control" rows="6" id="comment"
                      [(ngModel)]="code" [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="sentCodeToPreview($event)"
                      required
            ></textarea>
        <button class="btn btn-danger btn-md" (click)="submitCode()">Esita</button>
    </div>
</div>