.coding {
    width: 99%;
    background-color: white;
    color: #0054a6;
    font-weight: bold;
    display: inline-block;
    align-content: center;
    align-items: center;
    text-align: justify;
}

.code-task-question {
    margin-top: 1%;
    margin-right: -1%;
    padding-left: -1%;

}

.code-task-image img {
    max-width: 400px;
    height: auto;
    margin-left: 1%;
    padding-right: -20px;
}

.code-task-image {
    width: 99%;
    height: auto;
}
.container {
    column-count: 2;
    column-width: 400px;
    padding-left: 0;
}

.well {
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    vertical-align: top;
    padding-left: 15px;
}

h2 {
    margin-top: -1%;
    font-weight: bold;
}

textarea {
    max-width: 99%;
}

@media (min-width: 992px) {
    .container {
        width: 95%;
    }

    .code-task-image img {
        max-width: 250px;
        height: auto;
    }
}

